<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter_8_Table_Cells.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB0610641E2C8BB500F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0610781E2C8BB500F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0610831E2C8BB500F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
