<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chapter_8_Simple_Table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB06102A1E2C68B300F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB06103E1E2C68B400F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB0610491E2C68B400F059F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
